@media (max-width: 900px)
	.menu
		flex-wrap wrap
		justify-content center
	.bridge_main
		&__article
			flex-direction column
			align-items center
			&__leftblock
				width 100%
			&__rightblock
				width 80%
@media (max-width: 1000px)
	.main
		&__overview
			flex-direction column
			align-items center
			&__pict
				width 95%
			&__article
				width 100%
		&__firstGallery
			flex-direction column
			align-items center
			&__element
				width 430px
		&__secondGallery
			flex-direction column
			align-items center
			&__element
				width 560px
		&__thirdGallery
			flex-direction column
			align-items center
			&__element
				width 100%
				a
					justify-content center
					.image
						width 120px