.menu
	.menu__element 
		a(href = "index.html") 
			.text
				span Главная страница
	.menu__element 
		a(href = "BridgePage.html")
			.text
				span Пример страницы моста
	.menu__element 
		a(href = "table.html") 
			.text
				span Таблица