<!DOCTYPE html>
html
	head
		include includes/preset
	body
		include includes/menu
		.bridge_main
			.bridge_main__title
				.bridge_main__title__text
					h1 <span>Мост</span> миллениум в Гейтсхеде
			.bridge_main__bgblock
			.bridge_main__article
				.bridge_main__article__leftblock
					.image
						img(src = "img/Gateshead_Millennium_Bridge1.jpg")
					.text
						p.
							В Англии существует два Моста Тысячелетия, но расположенный между городами
							Гейтсхед и Ньюкасл-апон-Тайн является первым в мире наклоняемым мостом. Это
							сооружение служи для передвижения пешеходов и велосипедистов через реку Тайн,
							и чтобы не мешать проходящим крупным судам, было предложено сделать
							его наклоняемым. За год мост меняет свое положение до 200 раз, а каждое такое
							событие собирает толпы зрителей.
						p.
							В основе моста лежат две стальные арки, соединенные между собой стальными тросами.
							Во время движения по нему людей одна из арок находится параллельно воде,
							а вторая парит над водной гладью на высоте до 50 метров. Угол поворота арок
							составляет 40 градусов, а сам процесс занимает не более 5 минут. Во время
							прохождения судов клиренс моста составляет 25 метров.
				.bridge_main__article__rightblock
					.bridge_main__article__rightblock__info
						h3 Информация
						p <b>Год постройки:</b> 2001
						p <b>Общая длина:</b> 126м
						p <b>Максимальная высота:</b> 50м
						p <b>Страна:</b> Великобритания

		include includes/footer